<html>
<head>
<meta charset="utf-8">
<title><%=title%></title>
<script src="/public/scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$('#btnPost').click(function(){
		var Password = $.trim($('#txtPassword').val());
		var ConfirmPassword = $.trim($('#txtConfirmPassword').val());
		
		if(Password==''){
			alert('请输入密码');
			return;
		}
		
		if(ConfirmPassword==''){
			alert('请输入确认密码');
			return;
		}
		
		if(Password != ConfirmPassword){
			alert('密码与确认密码不一致');
			return;
		}
		
		$.ajax({
			url:'/admin/user/modify_password',
			type:'post',
			data:{
				id:'<%=user._id%>',
				Password:Password
			},
			success:function(ret){
				if(ret.success){
					window.location.href = '/admin/user/list';
				}else{
					alert(ret.msg);
				}
			},
			error:function(){
				alert('网络错误');
			}
		});
	});
});
</script>
</head>
<body>
<h1>您好</h1>
<div>
<table>
<tbody>
<tr>
<td>用户名：</td><td><%=user.username%></td>
<td>密码：</td><td><input type="password" id="txtPassword" value="" /></td>
<td>确认密码：</td><td><input type="password" id="txtConfirmPassword" value="" /></td>
<td colspan="2"><input type="button" value="提交" id="btnPost" /></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>